{% load static %}

<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="{% static 'img/about-1.jpg' %}" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="{% static 'img/about-2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <p class="text-primary text-uppercase mb-2">// О нас</p>
                    <h1 class="display-6 mb-4">Мы Готовим Каждое Блюдо От Всего Сердца</h1>
                    <p>Добро пожаловать в наш онлайн-магазин пекарни! Мы рады предложить вам широкий ассортимент свежей
                        и вкусной выпечки, приготовленной с любовью и заботой. Наша пекарня использует только
                        качественные ингредиенты и традиционные рецепты, чтобы каждая ваша покупка приносила радость и
                        удовлетворение. </p>
                    <p>Мы гордимся нашим вниманием к деталям и стремимся сделать ваше взаимодействие с нами простым и
                        удобным. От ароматных булочек до изысканных тортов — у нас есть всё, чтобы добавить сладости в
                        каждый день. Благодарим за выбор нашей пекарни и надеемся, что наши изделия принесут вам только
                        положительные эмоции!</p>
                    <div class="row g-2 mb-4">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Качественные продукты
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Изготовленные на заказ продукты
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Онлайн-заказ
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Доставка на дом
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
