{% load static %}

<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="text-primary text-uppercase mb-2">// Наши услуги</p>
                <h1 class="display-6 mb-4">Что Мы Можем Предложить Вам?</h1>
                <p class="mb-5">В нашей пекарне мы предлагаем широкий выбор свежей выпечки: ароматные хлеба, мягкие
                    булочки, хрустящие круассаны и изысканные торты. Каждый продукт приготовлен с любовью и только из
                    натуральных ингредиентов. У нас вы найдете как классические рецепты, так и уникальные авторские
                    изделия, которые порадуют ваши вкусовые рецепторы. Наша цель — сделать каждый ваш день вкуснее и
                    слаще!</p>
                <div class="row gy-5 gx-4">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-bread-slice text-white"></i>
                            </div>
                            <h5 class="mb-0">Качественные продукты</h5>
                        </div>
                        <span>"Качество, которому можно доверять — от природы до вашего стола"</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-birthday-cake text-white"></i>
                            </div>
                            <h5 class="mb-0">Изготовленные на заказ продукты</h5>
                        </div>
                        <span>"Индивидуальные вкусы, созданные специально для вас!"</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-cart-plus text-white"></i>
                            </div>
                            <h5 class="mb-0">Онлайн-заказ</h5>
                        </div>
                        <span>"Ваши любимые лакомства — в один клик с онлайн-заказом!"</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-truck text-white"></i>
                            </div>
                            <h5 class="mb-0">Доставка на дом</h5>
                        </div>
                        <span>"Свежесть и вкус прямо к вашему порогу — доставка на дом!"</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="{% static 'img/service-1.jpg' %}" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="{% static 'img/service-2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
